/* Estilos generales */

/* Especificidad: 001 */
h3 {
    color: white;
    /*Background color heredado de body */
}
/* Especificidad: 002 */
section > h3 {
    color: #0000ff; 
    /*Backgroung-color heredado de body*/   
}

/* Especificidad: 001 */
button {
    background-color: #2121ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para las carreras */
/* Especificidad: 001 */
article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Especificidad: 002 */
article header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Especificidad: 002 */
article p {
    margin: 5px 0;
    color: #555;
    /*Background color heredado de body */
}

/* Especificidad: 003 */
article p strong {
    color: #333;
    /*Background color heredado de body */
}
