/* Estilos para los artículos de previsión del tiempo */
/* Especificidad: 001 */
article {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Especificidad: 002 */
article h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000000;
    /*Background color heredado de header*/
}

/* Especificidad: 004 */
section article header h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #ffffff;
    /*Background color heredado de header*/
}


/* Especificidad: 002 */
article img {
    display: block;
    margin: 10px auto;
    width: 30vh;
    height: 30vh;
}

/* Especificidad: 001 */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Especificidad: 002 */
section + section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Especificidad: 002 */
section button {
    margin-top: 2vh;
}

/* Especificidad: 002 */
article p{
    color: #000000;
    font-size: 1em;
    /*Background color heredado de body*/
}


