/* Estilos para los artículos de previsión del tiempo */
article {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

article:hover {
    transform: scale(1.05);
}

article h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #0f0f0f;
}

article p {
    margin: 5px 0;
    font-size: 1em;
    color: #3f3f3f;
}

article img {
    display: block;
    margin: 10px auto;
    width: 50px;
    height: 50px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
