/* datos personales Miguel Álvare Hernández UO295368*/
/* Especificidad: 001 */
header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}
/* Especificidad: 003 */
main nav a{
  display: inline-block;
  margin-bottom: 10px; 
  padding: 10px 20px; 
}

@media (max-width: 465px) {
  /* Especificidad: 002 */
  /*Quitar migas*/
  header + p {
    display: none; 
  }
  /* Especificidad: 003 */
  header nav a{
    display: block; /* Hace que el enlace ocupe toda la línea */
    width: 100%; /* Asegura que el ancho sea del 100% */
  }
  
} 
  /* Especificidad: 005 */
  /*header nav ul li a {
    color: white; /* Color de los enlaces 
    text-decoration: none; /* Elimina el subrayado 
    font-size: 1em;
  }*/
  
/* Adaptación a pantallas pequeñas */
@media (max-width: 799px) {
  /* Especificidad: 001 */
  header {
    display: flex; 
    flex-direction: column; /* Cambia la disposición a vertical */
    text-align: center;
    padding: 10px; /* Reducir el padding */
  }

  /*Display menu de minijuegos*/
  /* Especificidad: 003 */
  main nav a{
    display: block;
    margin-bottom: 10px; 
    padding: 10px 20px; 
    text-align: center;
  }
}



