/* Especificidad: 001 */
main {
    width: 60%;
    height: 50%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 3%;
    align-items: center;
}

/* Especificidad: 001 */
h2 {
    grid-column: 1 / -1;
    text-align: center;
}

/* Especificidad: 001 */
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-column: span 4;
}

@keyframes encenderLuz {
    from {
        background-color: #0007;
        /*Color heredado*/
    }
    to {
        background-color: red;
        /*Color heredado*/
    }
}

@keyframes out {
    from {
        background-color: red;
        /*Color heredado*/
    }
    to {
        background-color: #0007;
        /*Color heredado*/
    }
}

/* Especificidad: 021 */
main.unload div {
    animation: out 0.1s forwards;
}

/* Especificidad: 010 */
div {
    background-color: #000A;
    border: 5px solid black;
    aspect-ratio: 1;
    border-radius: 50%;
    /*Color heredado de body*/
}

/* Especificidad: 031 */
main.load div:nth-child(1) {
    animation: encenderLuz 0.5s forwards;
    animation-delay: 0.5s;
}

/* Especificidad: 031 */
main.load div:nth-child(2) {
    animation: encenderLuz 0.5s forwards;
    animation-delay: 1s;
}

/* Especificidad: 031 */
main.load div:nth-child(3) {
    animation: encenderLuz 0.5s forwards;
    animation-delay: 1.5s;
}

/* Especificidad: 031 */
main.load div:nth-child(4) {
    animation: encenderLuz 0.5s forwards;
    animation-delay: 2s;
}

/* Especificidad: 001 */
button {
    grid-column: span 2;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

/* Especificidad: 012 */
main button:nth-of-type(1) {
    justify-self: end;
}

/* Especificidad: 012 */
main button:nth-of-type(2) {
    justify-self: start;
}

/* Especificidad: 001 */
form{
    grid-column: 1 / -1;
}